<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="static/assets/images/favicon.png" type="image/x-icon">

  <title>数据分析</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.css" />

  <!-- fonts style-->
  <link href="" rel="stylesheet">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="static/assets/css/owl.carousel.min.css" />
  <!-- nice select -->
  <link rel="stylesheet" href="static/assets/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="static/assets/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="static/assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/assets/css/responsive.css" rel="stylesheet" />
</head>

<body>

    <div class="hero_area">
    <div class="hero_bg_box">
      <img src="static/assets/images/star_sky.jpg" alt="">
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand " href="index.html"> Right Time </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="/index.html"> 首页 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data.html"> 信息 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/analysis.html"> 分析 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/word_cloud.html"> 词云 </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->


    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                  <div class="detail-box">
                    <h1>
                      求职 <br>
                      海量信息
                    </h1>
                    <p>
                      海量的求职信息, 涵盖各种方向工作, 同时提供该工作的相关信息！
                    </p>
                    <div class="btn-box">
                      <a href="/data.html" class="btn1">
                        查看
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                  <div class="detail-box">
                    <h1>
                      分析 <br>
                      专业地道
                    </h1>
                    <p>
                      提供可视化的数据分析, 不浪费您的宝贵时间, 给您最专业、最地道的职业分析！
                    </p>
                    <div class="btn-box">
                      <a href="/analysis.html" class="btn1">
                        查看
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                  <div class="detail-box">
                    <h1>
                      词云 <br>
                        有趣的词汇
                    </h1>
                    <p>
                    词云表达了当前工作的热度, 给您最有趣、最丰富的职业信息, 供您观赏！
                    </p>
                    <div class="btn-box">
                      <a href="/word_cloud.html" class="btn1">
                        查看
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- why us section -->
  <section class="why_us_section layout_padding">
    <div class="why_us_container">
      <div class="container">
          <div class="heading_container heading_center">
          <h2>
            Why Choose Us
          </h2>
          <table class="table table-striped">

        <tr>
            <td> 排序 </td>
            <td> 工作名称 </td>
            <td> 公司名称 </td>
            <td>  薪水  </td>
            <td> 工作地区 </td>
            <td> 工作福利 </td>
            <td> 工作要求 </td>
        </tr>
        {% for key in data_dict %}
            {% for data in data_dict[key] %}
                <tr>
                    <td>{{ data[0] }}</td>
                    <td>
                    <a href="{{ data[1] }}" target="_blank">
                                {{ data[2] }}</a>
                    </td>
                    <td>
                    <a href="{{ data[3] }}" target="_blank">
                                {{ data[4] }}</a>
                    </td>
                            <td>{{ data[5] }}</td>
                            <td>{{ data[6] }}</td>
                            <td>{{ data[9] }}</td>
                            <td>{{ data[10] }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

      </>
    </div>
  </section>
  <!-- end why us section -->


  <!-- jQery -->
  <script src="static/assets/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="static/assets/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- bootstrap js -->
  <script src="static/assets/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="static/assets/js/owl.carousel.min.js"></script>
  <!-- nice select -->
  <script src="static/assets/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
  <!-- custom js -->
  <script src="static/assets/js/custom.js"></script>

</body>

</html>